<html>
<head>
	<title>Dance Dance Convolution</title>
	<meta name="author" content="Chris Donahue">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ddc.css') }}">
</head>

<body>

<div id="content">
<h1>Dance Dance Convolution</h1>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form action="/api/ddc/choreograph" method="POST" enctype="multipart/form-data">
	<label>Audio file (8MB max)</label>
	<input type="file" name="audio_file" accept=".mp3,.ogg,.aiff,.wav"/>
	<br/>
	<label>Artist</label><input type="text" name="song_artist"/>
	<br/>
	<label>Title</label><input type="text" name="song_title"/>
	<br/>
	<input type="radio" name="diff_coarse" value="Beginner"/><label>Beginner</label>
	<input type="radio" name="diff_coarse" value="Easy"/><label>Easy</label>
	<input type="radio" name="diff_coarse" value="Medium"/><label>Medium</label>
	<input type="radio" name="diff_coarse" value="Hard"/><label>Hard</label>
	<input type="radio" name="diff_coarse" value="Challenge"/><label>Challenge</label>
	<br/>
	<input type="submit"/>
</form>

<h2>Instructions</h2>
<ul>
	<li>Install <a href="https://www.stepmania.com/download/">Stepmania 5</a></li>
	<li>Create stepchart for an audio file using above form</li>
	<li>Extract .zip to "Songs" directory in StepMania 5 install folder. (C:\Program Files (x86)\StepMania 5\Songs on windows)</li>
	<li>Restart Stepmania or select "Reload Songs/Courses" under "Options"</li>
</ul>

<h2>Acknowledgements</h2>
Thanks to <a href="https://fra.xtil.net/simfiles/">Fraxtil</a> whose simfiles were used to train the neural network models for this demo. This work used the Extreme Science and Engineering Discovery Environment (XSEDE), which is supported by National Science Foundation grant number ACI-1053575.

</div>

</body>

</html>
