html, body { height: 100%; width: 100%; margin: 0;  }.

.height-max {
  height: 100%;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase {
  width: 100%;
  height: 100%;
}
/*.theme-showcase > p > .btn {*/
/*margin: 5px 0;*/
/*}*/

/*.theme-showcase .navbar .container {*/
/*width: auto;*/
/*}*/

.deepx-project {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  padding: 5px;
}

.deepx-project-background {
  background-size: cover;
  filter: blur(2px);
  -webkit-filter: blur(2px); position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.deepx-project-title {
  font-family: "Merriweather";
  text-align: center;
  font-size: 30px;
  color: white;
  line-height: 200px;
}

.deepx-project-title:hover {
  text-decoration: underline;
}

.carousel-wrapper {
  height: 100vh !important;
  /*border-radius: 10px;*/
}
.carousel {
   height: 100vh;
}

.carousel-control {
  /*border-radius: 10px;*/
}

.deepx-title {
   font-size: 100px;
}

.deepx-subtitle {
  text-shadow: 1px 3px 3px rgba(0,0,0,.8);
}
.carousel-title {
  text-shadow: 2px 6px 6px rgba(0,0,0,.8);
  font-family: "Maven Pro";
  position: absolute;
  right: 15%;
  top: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

.navbar-brand {
   font-size: 24px !important;
}

.navbar-inverse {
  border-radius: 0px !important;
}

.deepx-font {
  font-family: "Maven Pro";
}

.home-body {
  background-image: url(/img/space.jpg);
  background-size: cover;
  height: 100%;
  background-position: bottom;
}

.home-container {
}
.home-content {
  padding: 10px 10px 10px 10px;
  background-color:rgba(0, 0, 0, 0.8);
  font-size: 18px;
  margin-top: 30px;
  color: white;
  font-family: "Maven Pro";
  opacity: 0.8;
}
.home-banner {
   text-align: center;
   font-size: 80px;
}
