<div class='row'>
  <div class='col-md-12 col-xs-12 home-banner'>
  BEERMIND
  </div>
  <div class='col-md-12 col-xs-12'>
    <!--<uib-tabset>-->
    <!--<uib-tab heading="Generate">-->
    <div class='container'>
      <div class='row'>
        <div class='col-md-4 col-xs-12'>
          <div class="form-horizontal">
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-4 control-label">Category</label>
              <div class="col-md-8">
                <select class='form-control' ng-model='data.category'>
                  <option>Fruit / Vegetable Beer</option>
                  <option>American IPA</option>
                  <option>American Adjunct Lager</option>
                  <option>Russian Imperial Stout</option>
                  <option>American Porter</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-4 control-label">Rating (1-5)</label>
              <div class="col-md-8">
                <input type="text" class="form-control" ng-model="data.rating" placeholder="Rating">
              </div>
            </div>
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-4 control-label">Temperature</label>
              <div class="col-md-8">
                <input type="text" class="form-control" ng-model="data.temperature" placeholder="Temperature">
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-offset-4 col-md-8">
                <button type='button' class='generate-button btn btn-lg btn-primary' ng-click="generate()">Generate</button>
              </div>
            </div>
          </div>
        </div>
      <div class='col-md-8 col-xs-12'>
        <div class='row'>
          <div class='review-text-container col-md-offset-1 col-md-9'>
            <span class='review-text' ng-bind='reviewText'>
            </span>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-11 projects'>
            <span>
              Want to learn how this works? <a href='http://arxiv.org/pdf/1511.03683.pdf'>Read the paper!</a>
            </span>
          </div>
        </div>
      </div>
    </div>
    <!--</uib-tab>-->
    <!--<uib-tab heading="Evaluate">-->
    <!--<div class='container'>-->
      <!--<div class='row'>-->
        <!--who-->
      <!--</div>-->
    <!--</div>-->
    <!--</uib-tab>-->
    <!--</uib-tabset>-->
  </div>
</div>

