<div class='row'>
  <div class='col-md-12 col-xs-12 home-banner'>
      ENTER THE TENSOR
  </div>
  <div class='col-md-6 col-xs-12'>
    <h2>Who are we?</h2>
    <p>DeepX is a team of UCSD researchers
    dedicated to improving the state of the art
    in machine learning.</p>
  </div>
  <div class='col-md-6 col-xs-12'>
    <h2>What do we do?</h2>
    <p>We develop and implement powerful
    algorithms to solve everyday problems,
    using deep learning methods.
    </p>
  </div>
</div>
<div class='row'>
  <div class='col-md-6 col-xs-12'>
    <h2>What are we working on?</h2>
    <div class='row'>
      <div class='col-md-12 col-xs-12'>
        <deepx-project ng-repeat='project in projects'></deepx-project>
      </div>
    </div>
  </div>
  <div class='col-md-6 col-xs-12'>
    <h2>What have we written?</h2>
    <div class='row'>
      <div class='col-md-12 col-xs-12'>
        <div class='paper-container' ng-repeat='paper in papers'>
          <a analytics-on="click" analytics-event="paper_{{paper.short}}_click" href='{{paper.link}}'>{{paper.name}}</a>
          <div>{{paper.authors}}</div>
          <div>{{paper.other}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
