<link rel='stylesheet' href='/css/navbar.css'></link>
<div style='height: 100%'>
  <nav class="navbar navbar-custom navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="deepx-font navbar-brand" ui-sref='home.main'>DeepX</a>
      </div>
      <ul class="nav navbar-nav navbar-right deepx-font">
        <!--<li><a ui-sref='home.about'>About</a></li>-->
        <li><a ui-sref='home.software'>Software</a></li>
        <li><a href='/datasets/index.html'>Datasets</a></li> <li><a href='mailto:deepx.ai@gmail.com'>Contact</a></li>
        <!--<li><a href="#">Projects</a></li>-->
        <!--<li><a href="#">Papers</a></li>-->
      </ul>

    </div><!-- /.container-fluid -->
  </nav>
  <div class='home-body'>
    <div class='container home-container'>
      <div class='home-content'>
        <div ui-view>
        </div>
      </div>
    </div>
  </div>
  <!--<footer class="email-footer footer">-->
    <!--<div class="container">-->
      <!--<p><a href='mailto:deepx.ai@gmail.com'>Contact</a></p>-->
    <!--</div>-->
  <!--</footer>-->

</div>
