<link rel='stylesheet' href='/css/navbar.css'></link>
<div style='height: 100%'>
  <nav class="navbar navbar-custom">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="deepx-font navbar-brand" ui-sref='home.main'>DeepX</a>
      </div>
      <ul class="nav navbar-nav navbar-right deepx-font">
        <!--<li><a href="#">About</a></li>-->
        <!--<li><a href="#">People</a></li>-->
        <!--<li><a href="#">Projects</a></li>-->
        <!--<li><a href="#">Papers</a></li>-->
      </ul>

    </div><!-- /.container-fluid -->
  </nav>
  <div class='home-body'>
    <div class='container home-container'>
      <div class='home-content'>
        <div ui-view>
        </div>
      </div>
    </div>
  </div>
</div>
